/* css3 */
body{
    margin: 0;
    overflow-y:scroll;
}
img{
    border:0px;
}
.box{
    min-width: 1252px;
    max-width: 1816px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper{
    width:978px;
    margin-left: auto;
    margin-right: auto;
}
.blank{
    clear:both;
}
.mask{
    position:fixed;
    top:0px;
    left:0px;
    z-index: 1;
    min-width: 1252px;
    width:100%;
    height:100%;
    background-color: #000000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    opacity: 0.7;
    display: none;
}

/* banner */
#banner{
    min-width: 1252px;
    max-width: 1816px;
    height:452px;
    background: url("../images/bg_banner.png") center center;
    /*background-size:cover;*/
}
#banner .menu{
    width:1252px;
    height:110px;
    margin-left:auto;
    margin-right:auto;
    /*不透明度渐变*/
    background:white; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);/* 一些不支持背景渐变的浏览器 */ 
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.85) 0%,rgba(255, 255, 255, 0.9) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255, 255, 255, 0.85) 0%,rgba(255, 255, 255, 0.9) 100%); /* W3C */
    background:-moz-linear-gradient(top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.9)); 
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.9)));
    /*圆角*/
    -moz-border-radius: 5px;      /* Gecko */
    -webkit-border-radius: 5px;   /* Webkit */
    border-radius:5px;            /* W3C */
}
#banner .item{
    float:left;
}
#banner #logo{

}
#banner #logo a#logo{
    color:black;
    display: block;
    width:400px;
    height:53px;
    margin:19px 10px 34px 76px;
}
#banner #logo a:visited {
    color: inherit;
}
#banner #logo div{
    float: left;
    font-size: 45px;
    font-family: Monaco;
    font-weight: bold;
    line-height: 20px;
    margin-top: 26px;
    margin-left: 20px;
}
#banner #logo img {
    float: left;
    width:80px;
}

#banner .menu-item{
    cursor: pointer;
    width:180px;
    height:110px;
}
#banner .menu-item.hover{
    cursor: pointer;
    border-bottom: 4px solid #1c90e2;
}
#banner .menu-item .text{
    margin-top:45px;
    font-size: 18px;
    font-family: Monaco;
    font-weight: bold;
    color:#505050;
    text-align: center;
    text-decoration: none;
}
#banner #projects .text{
    border-right: 1px solid rgb(216,219,222);
}
#banner #about .text{
    border-left: 1px solid rgb(216,219,222);
    border-right: 1px solid rgb(216,219,222);
}
#banner #contact .text{
    border-left: 1px solid rgb(216,219,222);
}
#banner .text#intro{
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
    color:#eeeeee;
    text-align: left;
    font-size: 18px;
    font-family: Georgia;
    text-indent: 40px;
    line-height: 30px;
    text-shadow:2px 2px 3px #000000;
}

/* aboutMe */
.aboutMe{
    background-color: #eeeeee;
}

/* abilities */
.aboutMe #abilities{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(238,238,238);
}
.aboutMe #abilities #joinus{
    margin-top:82px;
    margin-bottom: 80px;
    text-align: center;
    color:#1c90e2;
    font-size: 66px;
}
.aboutMe #abilities .block .ability{
    float:left;
    position:relative;
    width:210px;
    margin-right: 46px;
}
.aboutMe #abilities .block .ability#geek{
    margin-right: 0px;
}
.aboutMe #abilities .block .ability .icon{
    text-align: center;
    margin-bottom: 32px;
}
.aboutMe #abilities .block .ability .title{
    margin-bottom: 34px;
    color:#222222;
    font-size: 30px;
    font-family: Georgia;
    text-align: center;
}
.aboutMe #abilities .block .ability .description span{
    display: block;
    margin-bottom: 10px;
    color:#505050;
    font-size: 17px;
    font-family: Georgia;
    font-weight: lighter;
    text-align: center; 
}

/*projects*/
.projects{
    min-width: 1252px;
    display: none;
}
.projects .rect{
    max-width:1815px;
    width:100%;
    float:left;
}

/* projects positions */
.projects #positions{
    padding-top: 50px;
    height:280px;
    background-color: #eeeeee;
}
.projects #positions .wrapper{
    border:1px solid transparent;
}
.projects #positions #needyou{
    margin-top: 82px;
    margin-bottom: 114px;
    text-align: center;
    color:#1c90e2;
    font-size: 66px;
}
.projects #positions #jobs .position{
    float: left;
    width: 209px;
    margin-right: 46px;
}
.projects #positions #jobs .position#administrator{
    margin-right: 0px;
}
.projects #positions #jobs .position .title{
    height:52px;
    text-align: center;
    line-height: 52px;
    color:#ffffff;
    font-size: 24px;
    font-family: Garamond;
}

.projects #positions #jobs .position .description{
    position:relative;
    height: 192px;
}
.projects #positions #jobs .position .description .details{
    padding-top: 20px;
    padding-left: 26px;
    padding-right: 20px;
    color:#ffffff;
    font-size: 14px;
    font-family: Georgia;
    font-weight: 100;
    line-height: 24px;
}

.projects #positions #jobs .position .description .details ul{
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
}
.projects #positions #jobs .position .description .details ul li{
    margin: 0px;
}

.projects #positions #jobs .position .description .view{
    position:absolute;
    top:142px;
    left:55px;
    width: 98px;
    height: 33px;
    /*圆角*/
    -moz-border-radius: 5px;      /* Gecko */
    -webkit-border-radius: 5px;   /* Webkit */
    border-radius:5px;            /* W3C */
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    font-family: Georgia;
    font-weight: 100;
    cursor:pointer;
}
.projects #positions #jobs .position#engineer .title{
    background-color: #f1bc12;
    color:#ffffff;
    text-shadow:#e1ae0e 0px 1px 1px;
}
.projects #positions #jobs .position#engineer .description{
    background-color: #fec613;
}
.projects #positions #jobs .position#engineer .description .view{
    background-color: #ffffff;
    border-bottom: 1px solid #dfad0e;
    color:#f1bc12;
}
.projects #positions #jobs .position#designer .title{
    background-color: #81cdac;
    text-shadow:#79cba6 0px 1px 1px;
}
.projects #positions #jobs .position#designer .description{
    background-color: #88d8b5;
}
.projects #positions #jobs .position#designer .description .view{
    background-color: #ffffff;
    border-bottom: 1px solid #6dc19d;
    color:#81cdac;
}
.projects #positions #jobs .position#operator .title{
    background-color: #d25959;
    text-shadow:#c84e4e 0px 1px 1px;
}
.projects #positions #jobs .position#operator .description{
    background-color: #df5f5f;
}
.projects #positions #jobs .position#operator .description .view{
    background-color: #ffffff;
    border-bottom: 1px solid #c84e4e;
    color:#d25959;
}
.projects #positions #jobs .position#administrator .title{
    background-color: #4b98ca;
    text-shadow:#4b98ca 1px 1px 1px;
}
.projects #positions #jobs .position#administrator .description{
    background-color: #50a1d7;
}
.projects #positions #jobs .position#administrator .description .view{
    background-color: #ffffff;
    border-bottom: 1px solid #4b98ca;
    color:#489bca;
}
.projects .wrapper#triangle{
    height:67px;
    background-color: #eeeeee;
    max-width: 1815px;
    width:100%;
    min-width: 1252px;
    border-bottom: 2px solid #dbdbdb;
}
.projects .smallWrapper{
    width: 978px;
    height:67px;
    margin-left: auto;
    margin-right: auto;
}
.projects .triangle{
    position:relative;
    float:left;
    width:210px;
    height:67px;
    margin-top: 2px;
    background: url("../images/triangle.png");
    display:none;
}
/*  projects details */
.projects #details{
    margin-bottom: 85px;
    background-color: #ffffff;
    display: none;
}
.projects #details .title{
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    color:#222222;
    font-size: 30px;
    font-family: Arial;
}
.projects #details .positions{
    float:left;
    cursor:pointer;
}
.projects #details .positions .position{
    width:200px;
    height:56px;
    padding-left: 10px;
    border-bottom: 1px solid #eeeeee;
    color:#222222;
    font-size: 18px;
    font-family: Arial;
    line-height:56px;
}
.projects #details .positions .position.active{
    color:#207ddd;
}
.projects #details .details{
    float:left;
    width:715px;
    padding-left: 46px;
    border-left: 1px solid #eeeeee;
}
.projects #details .details div{
    clear:both;
}
.projects #details .details .name{
    float:left;
    clear:none;
    width:762px;
    margin-top: 38px;
    margin-bottom: 22px;
    color:#207ddd;
    font-size: 24px;
    font-family: Arial;
}
.projects #details .details .apply{
    float:right;
    width: 108px;
    height: 36px;
    margin-top: 15px;
    background-color: #207ddd;
    border:1px solid #0c5db1;
    text-align: center;
    /*圆角*/
    -moz-border-radius: 5px;      /* Gecko */
    -webkit-border-radius: 5px;   /* Webkit */
    border-radius:5px;            /* W3C */
}
.projects #details .details .apply a{
    text-decoration: none;
    color:#ffffff;
    font-size: 15px;
    font-family: Arial;
    line-height: 36px;
}
.projects #details .details .item{
    margin-bottom: 18px;
    color:#707070;
    font-size: 22px;
    font-family: Arial;
    font-weight: lighter;
}
.projects #details .details .item-description{
    margin-bottom: 42px;
    color:#707070;
    font-size: 15px;
    font-family: Arial;
    font-weight: lighter;
    line-height: 30px;
    margin-top: 20px;
}
.projects #details .details .item-description ul li {
    list-style-type: disc;
    list-style-position: outside;
    line-height: 26px;
}
.projects #details .details .item-description ol li ul li {
    list-style-type: circle;
    list-style-position: outside;
}
.projects #details .details .item-description span.skillLabel{
    background-color:#999;
    display:inline;
    font-family: Georgia;
    font-size: 100%;
    font-weight: lighter;
    line-height: 1;
    color:#fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-left: 4px;
    padding: 3px;
}
.projects #details .details .priority{
    display:none;
}

.Resume{
    display:none;
}

/* contactUs */
.contactUs{
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    margin-left: -316px;
    margin-top: -131px;
    width:632px;
    height:262px;
    background: url("../images/contactUs_bg.png");
    /*圆角*/
    -moz-border-radius: 10px;      /* Gecko */
    -webkit-border-radius: 10px;   /* Webkit */
    border-radius: 10px;            /* W3C */
    display: none;
}
.contactUs .top{
    height:65px;
    background-color: #ffffff;
    border-bottom:1px solid #ebebeb;
    border-top:1px solid transparent;
    /*圆角*/
    -moz-border-radius: 10px 10px 0px 0px;      /* Gecko */
    -webkit-border-radius: 10px 10px 0px 0px;   /* Webkit */
    border-radius: 10px 10px 0px 0px;            /* W3C */
}
.contactUs .top #icon{
    float:left;
    margin-top:19px;
    margin-left: 42px;
}
.contactUs .top #text{
    float:left;
    margin-top:19px;
    margin-left: 10px;
    font-size: 25px;
    font-family: Arial;
    line-height: 25px;
    color: rgb(28,144,226);
}
.contactUs .top #close{
    float:right;
    margin-top:12px;
    margin-right: 12px;
    cursor: pointer;
}
.contactUs .content{
    padding-top: 20px;
}
.contactUs .content ul{
    margin-left: 42px;
    padding-left: 20px;
}
.contactUs .content ul li{
    color:#505050;
    font-size: 14px;
    font-family: Arial;
    line-height: 29px;
}